<% ps.forEach(function(ps){ %>
  <a href="/ps/<%= ps._id %>">
    <div class="card w-75" style="width: 440px; border-radius: 15px;background-color:rgb(195, 230, 234);">

      
      <div class="card-body" >
        <h5 class="card-title">Problem Statment: </h5>
        <p class="card-text"><%=ps.ps%></p>
        <p class="card-text"><span style="color:rgb(12, 5, 5);font-weight:bold;">Technology:</span><%=ps.Technology%></p>
        <p class="card-text"><span style="color:rgb(12, 5, 5);font-weight:bold;">Team Name:</span><%=ps.TeamName%></p>
        <p class="card-text"><span style="color:rgb(12, 5, 5);font-weight:bold;"> Domain:</span><%=ps.domain%></p>
        <p class="card-text"><span style="color:rgb(12, 5, 5);font-weight:bold;">Uploaded by:</span><%=ps.Username%></p>
        <p class="card-text"></p>
  
        <a href="/PSDetails"  class="btn btn-primary">Lern more</a>
      </div>
      </div>
      
  </a>

  
  <% }) %>